@import url('https://fonts.googleapis.com/css?family=Questrial');

body {

    background-repeat: no-repeat;
    background-size: cover;
    background-color: slategrey;
}

h1 {
    margin: 2% auto auto auto;
    align: center;
    text-align: center;
    color: white;
    font-family: 'Questrial', sans-serif;
}

h2 {
    margin: auto;
    align: center;
    text-align: center;
    color: white;
    font-family: 'Questrial', sans-serif;
    text-transform: capitalize;

}

img {
    height: 100px;
}

.wrapper {
    text-align: center;
}

